/*  3 colors
    #83537A Body
    #5C415D Header / Footer
    #483246 Borders


/* .2 keep this */
body {
    background: #83537A;
    margin-left: 10%;
    margin-right: 10%;
}

/* TEXT */
/* .2 pretty good as is */
/* Only for Main Title */
h1 {
    font-family: 'Century Gothic', 'Franklin Gothic Medium', Arial;
    font-size: 36px;
    font-weight: 300;
    text-decoration: underline;
    padding-top: 0px;
}

/* Just for Main Subtitle */
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 250;
    padding-bottom: 0px;
    font-size: 36px;
}

/* Need Dedicated NAV text */

/* Used for all small Titles */
h3 {
    font-family: "Times New Roman", Arial;
    font-weight: 200;
    font-size: 36px;
}

/* hasdfkhasdfkjhadkjsf */
h4 { 
    font-family: "Times New Roman, Arial";
    font-size: 32px;
}

p {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
      list-style-type: none;
      font-size: 26px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol {
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .2 have to kepp for FLEX purposes */
img {
    width: 100%;
}

/* FLEX */
/* have to redo these */
/* Header Flex */
.group-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5C415D;
    border-style: groove;
    border-color: #483246;
    border-width: 7.5px;
    }

/* Navigation Flex */
.group-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #483246;
        border-style: groove;
        border-color: #5C415D;
        border-width: 7.5px;
}

/* Intro Flex (it's a column for mobiles/tablets) */
.group-intro {
    display: flex;
    flex-direction: column;
}

/* Project Flex (it's a column for mobiles/tablets) */
.group-project {
    display: flex;
    flex-direction: column;
    background-color: #483246;
}

.sub-group {
    display: flex;
    flex-direction: column;
}

/* gotta do some chopping */
.item {
    flex: 1;
}

.item-uno {
    flex: 0.5;
    border-style: solid;
    border-color: #483343;
    border-width: 5px 10px 10px 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    background-color: #483246;
}

.item-dos {
    flex: 1;
    border-style: solid;
    border-color: #483343;
    border-width: 0px 5px 5px 0px;
    padding-left: 25px;
}

.item-tres {
    flex: 1;
}

.item-cuatro {
    flex: 1;
}
/*do i even use this ? */
.box-dos {
    box-sizing: border-box;
    width: 750px;
    height: 100px;
    background-color: #5C415D;
}
/* Dividers */
hr {
    height: 8px;
    width: 4000px;
    margin-left: -500px;
    background-color: #483343;
}
/* Forms */
/* really gotta work on */
form label {
    font-size: 36px;
}

textarea {
    height: 35px;
    width: 600px;
}


/* Alignments */
.centered {
    text-align: center;
}

/* Media Queries */
/* Make a little more differenation so there is distinct difference between mobile mode and the others */
/* add Tablet Mode */
/* Desktop Mode */
@media all and (min-width: 1000px) {
    p {
        font-family: 'Times New Roman', Times, serif;
    }
    ul {
        font-family: 'Times New Roman', Times, serif;
    }
    ol {
        font-family: 'Times New Roman', Times, serif;
    }
    
    /* Intro Flex (it's a row for Desktops) */
    .group-intro {
        display: flex;
        flex-direction: row;
    }

    /* Project Flex (it's a row for Desktops */
    .group-project {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: #483246;
    }

    .item-tres {
        flex: 1;
        max-width: 50%;
        max-height: 20%;
        padding: 0px 100px;
    }
    

    /* Cool Stuff (what is this called again ???) */
    a:link { color: purple}
    a:visited { color: gray}
    a:hover { color:darkviolet}
    a:active { color: goldenrod}
    }